SECRET_KEY=your_very_long_and_random_secret_key_here
CLOUDINARY_URL=cloudinary://169293457628317:nuvzowumCQuL4voMZrf0loSBacc@diyijlhyt
DATABASE_URL=postgresql://flashback_user:6RYKNczak5ZVdDzaxEAbX3udx5qQf9iD@dpg-cv251oaj1k6c73997lh0-a/flashback
